body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}
.pass_show{position: relative} 

.pass_show .ptxt { 

position: absolute; 

top: 50%; 

right: 10px; 

z-index: 1; 

color: #f36c01; 

margin-top: -10px; 

cursor: pointer; 

transition: .3s ease all; 

} 

.pass_show .ptxt:hover{color: #333333;} 


.ng-pristine
{

}
.ng-invalid
{
 border-color: #FD0B00;
} 

.ng-validing
{
 border-color: #51fd00;
} 


.ng-untouched
{
  border-color: #FD0B00;
}
.ng-dirty.ng-validing
{
  border-color: #51fd00;
}


.loaddin
{
  visibility: hidden
}