
<div class="container">
	<div class="card bg-light row">
    <navbar  [username]='getUsername()' [source]="sourchedash"></navbar>
 
  <div id="form-olvidado">
    <h4 class="">
      Recuperar Contrase&ntilde;ia
    </h4>
    <form novalidate #formPass=ngForm (ngSubmit)="sendResetPassWord(user)" accept-charset="UTF-8" role="form" id="login-recordar" >
      <fieldset>
        <span class="help-block">
          Ponga el nombre de usuario para reiniciar la contrase&ntilde;ia 
          <br>
          Su contrase&ntilde;ia se reiniciara recuerde modificarlo.
        </span>
        <div class="form-group input-group">
          <input [(ngModel)]="user.documento" class="form-control" placeholder="numero de documento" name="docnum" 
          type="number" required autofocus minlength="5" maxlength="20">
          <select name="tipodoc" [(ngModel)]="user.tipodocumento"class="form-control" required autofocus>
            <option  selected="" value="1">Cedula de Ciudadan&iacute;a</option>
            <option value="2">Cedula de Extranjer&iacute;a</option>
            <option value="3">Tarjeta Identidad</option>
          </select>
        </div>
        <div class="form-group input-group">
          <input [(ngModel)]="user.password" class="form-control" placeholder="" name="newpassword" type="password" required autofocus />
        </div>

        <button type="submit" [disabled]="formPass.invalid" class="btn btn-primary btn-block" id="btn-olvidado">
          Continue
        </button>
      </fieldset>
    </form>
  </div>
</div>
</div>
