<header class="header header--bg">
    <div class="container">
<navbar [username]='getUsername()' [source]="sourchedash"></navbar>
</div >
</header>
<body>
	<div class="container">
		<div class="card bg-light">
	<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Desvincular Usuario Monitor</h4>
		<p class="text-center">Se Desvinculara un monitor </p>
		<p class="divider-text">
        <!--<span class="bg-light">hola</span>-->
     </p>
	<form novalidate #miformdes=ngForm (ngSubmit)="quitarRol()" >
	<!--<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input name="" class="form-control" placeholder="nombre de la persona" type="text">
    </div> --><!-- form-group// -->
    <!--<div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
        <input name="" class="form-control" placeholder="Email" type="email">
    </div> --><!-- form-group// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
		</div>
		<select  name="selectuser" class="custom-select" 
		(change)="setUserSelect(userselect.username)"
		[(ngModel)]="userselect.username" required autofocus >
		    <!--<option  value="NO" selected="">usuario</option>-->
			<option 
			 class="text-center" [value]="item.username" 
			*ngFor="let item of usuariobindmon;let i = index;">
			{{item.numerodoc}}
			</option>
		</select>
    	<input disabled="" [value]="userselect.username"  name="" class="form-control" 
    	[placeholder]="userselect.username" 
    	type="number" required autofocus />
    </div>
    <div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text">n&uacute;mero doc<i class="fa fa-user"></i> </span>
		 </div>
        <input name="numerodoc" disabled="" class="form-control" 
        [value]="userselect.numerodoc"
        [placeholder]="userselect.numerodoc" 
        type="text" required autofocus  />
    </div>
    <div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text">tipo doc<i class="fa fa-user"></i> </span>
		 </div>
        <input name="tipodoc" disabled="" class="form-control" 
        [placeholder]="userselect.tipodoc.descrip" 
        [value]="userselect.tipodoc.descrip"
        type="text" required autofocus />
    </div>
    <div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text">rol<i class="fa fa-user"></i> </span>
		 </div>
        <input name="ROL" disabled="" class="form-control" 
        [placeholder]="userselect.rol.descrtip" 
        [value]="userselect.rol.descrtip"
        type="text" required autofocus />
    </div>

    <div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text">monitor<i class="fa fa-user"></i> </span>
		 </div>
        <input name="ip" disabled="" class="form-control" 
        [placeholder]="userselect.mail" 
        [value]="userselect.mail"
        type="text" required autofocus />
    </div>

    <!--<div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
		</div>
		<select class="custom-select" >
		    <option selected="">ROL</option>
							<option class="text-center" 
							value="{{ item.id }}" 
							*ngFor="let item of getRoles();let i = index">
								{{item.descrtip}}
							</option>
		</select>
    </div>-->

     <!-- form-group// -->
    <!--<div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-building"></i> </span>
		</div>
		<select class="form-control">
			<option selected=""> Select job type</option>
			<option>Designer</option>
			<option>Manager</option>
			<option>Accaunting</option>
		</select>
	</div> --><!-- form-group end.// -->
    <!--<div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input class="form-control" placeholder="numero documento" type="number">
    </div>--> <!-- form-group// -->
    <!--<div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input class="form-control" placeholder="Repeat password" type="password">
    </div>--> <!-- form-group// -->                                      
    <div class="form-group">
        <button type="submit" [disabled]="miformdes.invalid" class="btn btn-primary btn-block"> Desvincular </button>
    </div> <!-- form-group// -->                                                                       
		</form>
	  </article>
	</div>		
  </div>
</body>
