<html lang="en">
<head>
  <meta charset="utf-8">
  <title>FrontFucs</title><!--AJUSTAR PARA QUE EL PUNTO DE ENTRADA SEA EL LOGIN-->
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>health  care</title>
  <meta name="keywords" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.">
  <meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.">
</head>
<body>
	<div id="content-wrapper">
    <header class="header header--bg">
    <div class="container">
        <navbar [username]="getUsername()" [source]="sourcedash"></navbar> <!--LLAMADO A LA BARRA DE NAVEGACION-->
        <div class="row">
          <div class="col-lg-6">
            <img class="img-responsive img-fluid" src="assets/images/heart.png" alt="">
          </div>
          <div class="col-lg-6 header__content">
            <h1 class="title">Medical DashBoard <span class="title-style"></span></h1>
            <p>aqui puede realizar, ver las alertas, consultar las señales adicionales a
            las alertas y vincular y desvincular un usuario a un monitor.</p>
            <!--<a class="header__button" href="#">LEARN MORE</a>
            <a class="header__button" href="#">DISCOVER</a>-->
          </div>
        </div>
      </div>
    </header>

    <section class="steps">
      <div class="container">
        <div class="page-section text-center">
          <h2 class="page-section__title">Tareas Que puede realizar</h2>
          <div class="page-section__title-style">
            <span class="first-line"></span>
            <span class="second-line"></span>
          </div>
          <p class="page-section__subtitle">Tareas</p>
          <div class="row">
            <div class="col-md-4">
              <div class="text-center steps__single steps__single-first">
                <a [href]="getTitlesMedical()[0].uri">
                <img src="assets/images/step1.png" alt="">
                <p>{{ getTitlesMedical()[0].title }}</p>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="text-center steps__single">
                <a [href]="getTitlesMedical()[1].uri">
                <img src="assets/images/step2.png" alt="">
                <p>{{ getTitlesMedical()[1].title }}</p>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="text-center steps__single steps__single-last">
                <a [href]="getTitlesMedical()[2].uri">
                <img src="assets/images/step3.png" alt="">
                <p>{{ getTitlesMedical()[1].title }}</p>
              </a>
              </div>
            </div>
          </div>
          <div class="row">
          <div class="col-md-2">
              <div class="">
                <a [href]="getTitlesMedical()[3].uri">
                <img src="assets/images/step3.png" alt="">
                <p>{{ getTitlesMedical()[3].title }}</p>
                </a>
                </div>
            </div>
        </div>
          <!--<a class="button" href="#">TRY NOW</a>-->
        </div>
      </div>
    </section>

    <!--<section class="video video--bg">
      <div class="container">
        <div class="page-section">
          <div class="row">
            <div class="col-md-7 video__left">
              <a data-toggle="modal" data-target="#myModal" href="#"><i class="material-icons">play_circle_filled</i></a>
            </div>
            <div class="col-md-5">
              <div class="video__right text-center">
                <h2 class="video__title">Watch the video</h2>
                <div class="video__title-style">
                  <span class="first-line"></span>
                  <span class="second-line"></span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <a class="button button--white" href="#">TRY NOW</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>-->
  
    <!-- video-popup -->
    <!--<div class="container">
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>

              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wKtPBOb80II?autoplay=0" frameborder="0" allowfullscreen="" id="video"  allowscriptaccess="always"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>-->
    <!-- video-popup-end -->

    <!--<section class="sponsors sponsors--bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 sponsors__single">
            <img src="assets/images/sponsors1.png" alt="">
          </div>
           <div class="col-lg-2 sponsors__single">
            <img src="assets/images/sponsors2.png" alt="">
          </div>
           <div class="col-lg-2 sponsors__single">
            <img src="assets/images/sponsors3.png" alt="">
          </div>
           <div class="col-lg-2 sponsors__single">
            <img src="assets/images/sponsors4.png" alt="">
          </div>
           <div class="col-lg-2 sponsors__single">
            <img src="assets/images/sponsors5.png" alt="">
          </div>
           <div class="col-lg-2 sponsors__single">
            <img src="assets/images/sponsors6.png" alt="">
          </div>
        </div>
      </div>
    </section>-->

    <!--<section class="testimonial">
      <div class="container">
        <div class="page-section">
          <div class="text-center">
            <h2 class="page-section__title">Testimonials</h2>
            <div class="testimonial__title-style">
              <span class="first-line"></span>
              <span class="second-line"></span>
            </div>
            <p class="page-section__subtitle">Lorem ipsum dolor sit amet, consectetur <a href="#">450</a> adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="accordion-group">
                <div class="collapse in indent" id="one">
                  <div class="collapse__wrapper">
                    <div class="bio bio-1">
                      <h2>Tyrion Lannister</h2>
                      <p>Company Name</p>
                    </div>
                    <div class="star">
                      <li><i class="material-icons">star</i></li>
                      <li><i class="material-icons">star</i></li>
                      <li><i class="material-icons">star</i></li>
                      <li><i class="material-icons">star</i></li>
                      <li><i class="material-icons">star</i></li>
                    </div>
                    <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, </p>
                  </div>
                </div>
                <div class="collapse" id="two">
                  <div class="collapse__wrapper">
                    <div class="bio bio-2">
                      <h2>Sansa Stark</h2>
                      <p>Company Name</p>
                    </div>
                    <div class="star">
                      <li><i class="material-icons">star</i></li>
                      <li><i class="material-icons">star</i></li>
                      <li><i class="material-icons">star</i></li>
                      <li><i class="material-icons">star</i></li>
                      <li><i class="material-icons">star</i></li>
                    </div>
                    <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, </p>
                  </div>
                </div>
                <div class="collapse" id="three">
                  <div class="collapse__wrapper">
                    <div class="bio bio-3">
                      <h2>Khal Drogo</h2>
                      <p>Company Name</p>
                    </div>
                    <div class="star">
                      <li><i class="material-icons">star</i></li>
                      <li><i class="material-icons">star</i></li>
                      <li><i class="material-icons">star</i></li>
                      <li><i class="material-icons">star</i></li>
                      <li><i class="material-icons">star</i></li>
                    </div>
                    <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, </p>
                  </div>
                </div>
                <div class="collapse" id="four">
                  <div class="collapse__wrapper">
                    <div class="bio bio-4">
                      <h2>Jon Snow</h2>
                      <p>Company Name</p>
                    </div>
                    <div class="star">
                      <li><i class="material-icons">star</i></li>
                      <li><i class="material-icons">star</i></li>
                      <li><i class="material-icons">star</i></li>
                      <li><i class="material-icons">star</i></li>
                      <li><i class="material-icons">star</i></li>
                    </div>
                    <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 testimonial-right open-default">
              <button class="button-testimonial button-testimonial-1" data-toggle="collapse" data-target="#one">
                <div class="bio">
                  <h2>Tyrion Lannister</h2>
                  <p>Company Name</p>
                </div>
              </button>
              <button class="button-testimonial button-testimonial-2" data-toggle="collapse" data-target="#two">
                <div class="bio">
                  <h2>Sansa Stark</h2>
                  <p>Company Name</p>
                </div>
              </button>
              <button class="button-testimonial button-testimonial-3" data-toggle="collapse" data-target="#three">
                <div class="bio">
                  <h2>Khal Drogo</h2>
                  <p>Company Name</p>
                </div>
              </button>
              <button class="button-testimonial button-testimonial-4" data-toggle="collapse" data-target="#four">
                <div class="bio">
                  <h2>Jon Snow</h2>
                  <p>Company Name</p>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>-->

    <!--<section class="team team--bg">
      <div class="container">
        <div class="page-section">
          <div class="text-center">
            <h2 class="page-section__title">Our team</h2>
            <div class="team__title-style">
              <span class="first-line"></span>
              <span class="second-line"></span>
            </div>
            <p class="page-section__subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p>
          </div>
          <div class="row gutters-80">
            <div class="col-md-4">
              <div class="thumbnail team__single">
                <div class="bio text-center">
                  <img src="assets/images/team1.png" alt="">
                  <h2>Kabbo Liate, Bangladesh</h2>
                  <p>UX/UI Designer</p>
                </div>
                <div class="caption">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p>
                  <div class="social-icons">
                    <li><a href="#"><i class="flaticon-facebook-letter-logo"></i></a></li>
                    <li><a href="#"><i class="flaticon-twitter-logo-silhouette"></i></a></li>
                    <li><a href="#"><i class="flaticon-google-plus"></i></a></li>
                    <li><a href="#"><i class="flaticon-pinterest-logo"></i></a></li>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail team__single">
                <div class="bio text-center">
                  <img src="assets/images/team2.png" alt="">
                  <h2>John Doe, US</h2>
                  <p>UX/UI Designer</p>
                </div>
                <div class="caption">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p>
                  <div class="social-icons">
                    <li><a href="#"><i class="flaticon-facebook-letter-logo"></i></a></li>
                    <li><a href="#"><i class="flaticon-twitter-logo-silhouette"></i></a></li>
                    <li><a href="#"><i class="flaticon-google-plus"></i></a></li>
                    <li><a href="#"><i class="flaticon-pinterest-logo"></i></a></li>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail team__single">
                <div class="bio text-center">
                  <img src="assets/images/team3.png" alt="">
                  <h2>Johnny Depp, Singapoor</h2>
                  <p>UX/UI Designer</p>
                </div>
                <div class="caption">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p>
                  <div class="social-icons">
                    <li><a href="#"><i class="flaticon-facebook-letter-logo"></i></a></li>
                    <li><a href="#"><i class="flaticon-twitter-logo-silhouette"></i></a></li>
                    <li><a href="#"><i class="flaticon-google-plus"></i></a></li>
                    <li><a href="#"><i class="flaticon-pinterest-logo"></i></a></li>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>-->

    <!--<section class="form form--bg">
      <div class="container">
        <div class="page-section">
          <div class="text-center">
            <h2 class="page-section__title page-section__title--white">Contact us</h2>
            <div class="form__title-style">
              <span class="first-line"></span>
              <span class="second-line"></span>
            </div>
            <p class="page-section__subtitle page-section__subtitle--white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</p>
          </div>
          <form action="#">
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Name">
            </div>
            <div class="form-group">
              <input class="form-control" type="email" placeholder="Email">
            </div>
            <div class="form-group">
               <textarea class="form-control" rows="5" placeholder="Message"></textarea>
            </div>
            <div class="row">
              <div class="col-md-6 checkbox">
                <input type="checkbox" id="checkbox-1">
                <label for="checkbox-1"> Subscribe to newslatter</label>
              </div>
              <div class="col-md-6 form-button">
                <input class="button--form" type="submit" value="SEND">
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>-->

    <footer class="footer footer--bg">
      <div class="container">
        <div class="row">
          <div class="col-md-4 footer__left">
            <a class="navbar-brand" href="#"></a>
            <p>Copyright <span>&copy;</span> Dart themes 2017</p>
          </div>
          <div class="col-md-2 footer__link">
            <li><a href="#">Link goes here</a></li>
            <li><a href="#">Another Link Here</a></li>
            <li><a href="#">Your Text Here</a></li>
            <li><a href="#">lorem ipsum dolor amet</a></li>
          </div>
          <div class="col-md-2 footer__link">
            <li><a href="#">Link goes here</a></li>
            <li><a href="#">Another Link Here</a></li>
            <li><a href="#">Your Text Here</a></li>
            <li><a href="#">lorem ipsum dolor amet</a></li>
          </div>
          <div class="col-md-4 footer__social-icons">
            <li><a href="#"><i class="flaticon-facebook-letter-logo"></i></a></li>
            <li><a href="#"><i class="flaticon-twitter-logo-silhouette"></i></a></li>
            <li><a href="#"><i class="flaticon-google-plus"></i></a></li>
            <li><a href="#"><i class="flaticon-pinterest-logo"></i></a></li>
          </div>
        </div>
      </div>
    </footer>

  </div>






  <!--<script src="assets/jquery/jquery-3.2.1.min.js"></script>-->
  <!--script src="assets/bootstrap/js/bootstrap.min.js"></script>-->
  <!-- <script src="assets/owl-slider/owl.carousel.min.js"></script> -->

 <!--<script>
    $(document).ready(function() {
      
      $('button').click( function(e) {
        $('.collapse').collapse('hide');
      }); 
    });
  </script>-->
  
</body>
</html>